script(src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDxcnQUlWPeGOXIa_3X3-FDaYOw_Iuhidg&sensor=false")
script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js")
script(src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/jquery-ui.min.js")
script(src="js/mediator.js")
script(src="js/PC.js")		