head
	meta(charset="utf-8")
	meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
	title Bar Hopper
	meta(name="author", content="Pablo Gil Torres")
	meta(name="viewport", content="width=device-width")
		
	link(rel="stylesheet", href="/css/style.css")
	link(rel="stylesheet", href="/css/jquery-ui.css")
	script(src="/dev/less-1.3.0.min.js")
		
body(data-section=section, data-step="one", id=section)
	header#mainHeader.clearfix
		hgroup.clearfix
			h1 Bar Hopper
			div
				- if (section == 'wizard')
					h2 Event generator
					- if (section == 'wizard')
						ul#wizardSteps.clearfix
							li.current 1. Create a route
							li 2. Set a time
							li 3. Invite some peeps
				- else 
					h2 Because sometimes you have to walk before you crawl
				
		
		
		ul#headNav.clearfix
			- if (user != null)
				li Welcome, !{user.loginId}
				- if(section != 'index')
					li
						a#dashboardLink(href="/") Dashboard
				li.last
					a#logoutLink(href="/logout") Logout
			- else
				- if(section != 'index')
					li
						a#dashboardLink(href="/") Dashboard
				li
					a#loginLink(href="/login") Login
				li.last
					a#registerLink(href="/newUser") Register
			
			
			
			